In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_table("moviereviews.tsv")
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   2000 non-null   object
 1   review  1965 non-null   object
dtypes: object(2)
memory usage: 31.4+ KB

In [4]:
df.isna().sum()

label      0
review    35
dtype: int64

In [5]:
df.dropna(inplace=True)

In [6]:
df.isna().sum()

label     0
review    0
dtype: int64

In [7]:
blanks= []
for i, lb, rv in df.itertuples():
  if(type(rv)==str):
    if(rv.isspace()):
      blanks.append(i)
print(blanks)

[57, 71, 147, 151, 283, 307, 313, 323, 343, 351, 427, 501, 633, 675, 815, 851, 977, 1079, 1299, 1455, 1493, 1525, 1531, 1763, 1851, 1905, 1993]

In [8]:
df.drop(blanks, inplace=True)

In [9]:
x=df["review"]
y=df["label"]

In [10]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=0.3, random_state=1)

In [11]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import LinearSVC

In [12]:
pipe =Pipeline(
    [
     ("CountVectorizer", CountVectorizer()),
     ("ensemble", RandomForestClassifier())
     
    ]
)

In [13]:
pipe.fit(xtrain, ytrain)
ypred = pipe.predict(xtest)

In [14]:
from sklearn.metrics import classification_report
print(classification_report(ytest, ypred))

              precision    recall  f1-score   support

         neg       0.77      0.84      0.81       293
         pos       0.82      0.75      0.78       289

    accuracy                           0.80       582
   macro avg       0.80      0.80      0.80       582
weighted avg       0.80      0.80      0.80       582

In [15]:
pipe =Pipeline(
    [
     ("CountVectorizer", CountVectorizer()),
     ("svm", LinearSVC())
     
    ]
)

In [16]:
pipe.fit(xtrain, ytrain)
ypred = pipe.predict(xtest)
print(classification_report(ytest, ypred))

              precision    recall  f1-score   support

         neg       0.79      0.85      0.82       293
         pos       0.84      0.78      0.80       289

    accuracy                           0.81       582
   macro avg       0.81      0.81      0.81       582
weighted avg       0.81      0.81      0.81       582

## **Text Classification with ANN**

In [17]:
x

0       how do films like mouse hunt get into theatres...
1       some talented actresses are blessed with a dem...
2       this has been an extraordinary year for austra...
3       according to hollywood movies made in last few...
4       my first press screening of 1998 and already i...
                              ...
1995    i like movies with albert brooks , and i reall...
1996    it might surprise some to know that joel and e...
1997    the verdict : spine-chilling drama from horror...
1998    i want to correct what i wrote in a former ret...
1999    a couple of months ago , when i first download...
Name: review, Length: 1938, dtype: object

In [18]:
y

0       neg
1       neg
2       pos
3       pos
4       neg
       ...
1995    pos
1996    pos
1997    pos
1998    pos
1999    pos
Name: label, Length: 1938, dtype: object

In [19]:
y.replace({"neg":0, "pos":1}, inplace=True)

In [20]:
y

0       0
1       0
2       1
3       1
4       0
       ..
1995    1
1996    1
1997    1
1998    1
1999    1
Name: label, Length: 1938, dtype: int64

In [21]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=0.3, random_state=1)

In [22]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
xtrain = cv.fit_transform(xtrain).toarray()
xtest = cv.transform(xtest).toarray()

In [23]:
xtrain

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [24]:
import tensorflow as tf
from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense

In [25]:
#step1 -: initalize the ann model
ann = Sequential()

#step2 -: add the hidden layers
ann.add(Dense(units=10, activation="relu"))
ann.add(Dense(units=6, activation="relu"))
ann.add(Dense(units=3, activation="relu"))
ann.add(Dense(units=1, activation="sigmoid"))

#step3 -: establish the connection between the layers
ann.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

#step4 -: train the model
ann.fit(xtrain, ytrain, batch_size=50, epochs=30)

#step5 -: make prediction
ypred = ann.predict(xtest)

Epoch 1/30
28/28 [==============================] - 1s 17ms/step - loss: 0.6932 - accuracy: 0.4978
Epoch 2/30
28/28 [==============================] - 0s 17ms/step - loss: 0.6932 - accuracy: 0.5015
Epoch 3/30
28/28 [==============================] - 0s 16ms/step - loss: 0.6932 - accuracy: 0.5015
Epoch 4/30
28/28 [==============================] - 1s 18ms/step - loss: 0.6932 - accuracy: 0.5015
Epoch 5/30
28/28 [==============================] - 0s 17ms/step - loss: 0.6932 - accuracy: 0.5015
Epoch 6/30
28/28 [==============================] - 0s 17ms/step - loss: 0.6931 - accuracy: 0.5015
Epoch 7/30
28/28 [==============================] - 0s 17ms/step - loss: 0.6932 - accuracy: 0.5015
Epoch 8/30
28/28 [==============================] - 0s 17ms/step - loss: 0.6932 - accuracy: 0.5015
Epoch 9/30
28/28 [==============================] - 0s 17ms/step - loss: 0.6932 - accuracy: 0.5015
Epoch 10/30
28/28 [==============================] - 0s 17ms/step - loss: 0.6932 - accuracy: 0.5015
Epoch 11/30
28/28 [==============================] - 0s 16ms/step - loss: 0.6932 - accuracy: 0.5015
Epoch 12/30
28/28 [==============================] - 0s 18ms/step - loss: 0.6932 - accuracy: 0.5015
Epoch 13/30
28/28 [==============================] - 0s 17ms/step - loss: 0.6932 - accuracy: 0.5015
Epoch 14/30
28/28 [==============================] - 0s 17ms/step - loss: 0.6931 - accuracy: 0.5015
Epoch 15/30
28/28 [==============================] - 0s 16ms/step - loss: 0.6932 - accuracy: 0.5015
Epoch 16/30
28/28 [==============================] - 0s 18ms/step - loss: 0.6931 - accuracy: 0.5015
Epoch 17/30
28/28 [==============================] - 0s 17ms/step - loss: 0.6932 - accuracy: 0.5015
Epoch 18/30
28/28 [==============================] - 0s 17ms/step - loss: 0.6932 - accuracy: 0.5015
Epoch 19/30
28/28 [==============================] - 0s 17ms/step - loss: 0.6932 - accuracy: 0.5015
Epoch 20/30
28/28 [==============================] - 0s 17ms/step - loss: 0.6932 - accuracy: 0.5015
Epoch 21/30
28/28 [==============================] - 0s 17ms/step - loss: 0.6932 - accuracy: 0.5015
Epoch 22/30
28/28 [==============================] - 0s 16ms/step - loss: 0.6931 - accuracy: 0.5015
Epoch 23/30
28/28 [==============================] - 0s 17ms/step - loss: 0.6932 - accuracy: 0.5015
Epoch 24/30
28/28 [==============================] - 0s 16ms/step - loss: 0.6931 - accuracy: 0.5015
Epoch 25/30
28/28 [==============================] - 0s 18ms/step - loss: 0.6932 - accuracy: 0.5015
Epoch 26/30
28/28 [==============================] - 0s 17ms/step - loss: 0.6932 - accuracy: 0.5015
Epoch 27/30
28/28 [==============================] - 0s 17ms/step - loss: 0.6932 - accuracy: 0.5015
Epoch 28/30
28/28 [==============================] - 0s 16ms/step - loss: 0.6932 - accuracy: 0.5015
Epoch 29/30
28/28 [==============================] - 0s 17ms/step - loss: 0.6932 - accuracy: 0.5015
Epoch 30/30
28/28 [==============================] - 0s 17ms/step - loss: 0.6931 - accuracy: 0.5015

In [27]:
#step6 -: set the threshold
ypred = ypred>0.5

#step7 -: evaluation matix
from sklearn.metrics import classification_report
print(classification_report(ytest, ypred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00       293
           1       0.50      1.00      0.66       289

    accuracy                           0.50       582
   macro avg       0.25      0.50      0.33       582
weighted avg       0.25      0.50      0.33       582